}
@{
    ViewBag.Title = "Acerca de";
}
<main aria-labelledby="title">
    <img src="~/image/PARAVIDA_Logo.png" width="715" height="350" />
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Paravida es una clínica comprometida con la salud y el bienestar integral de sus pacientes. Situada en un entorno acogedor y moderno, Paravida se destaca por ofrecer una atención médica de alta calidad, centrada en el paciente y respaldada por un equipo de profesionales altamente calificados en diversas especialidades médicas.

        En Paravida, el enfoque no se limita solo al tratamiento de enfermedades, sino que también se promueve la prevención y la educación en salud, ayudando a los pacientes a adoptar hábitos de vida saludables y a tomar el control de su bienestar.

        La clínica Paravida ofrece una amplia gama de servicios médicos, que incluyen consultas especializadas, exámenes diagnósticos avanzados, tratamientos personalizados y programas de rehabilitación. Además, se esfuerza por mantener un ambiente cálido y compasivo, donde los pacientes se sientan escuchados, comprendidos y apoyados en todo momento.

        Con un enfoque en la innovación y la excelencia médica, Paravida se posiciona como un referente en el cuidado de la salud en la comunidad, proporcionando soluciones integrales y efectivas para mejorar la calidad de vida de sus pacientes.



    </p>


    <p>&copy; Derechos Reservados- "Clinica Buena Vida"</p>
</main>