}
@{
    ViewBag.Title = "Acerca de";
}
<main aria-labelledby="title">
    <img src="~/image/PARAVIDA_Logo.png" width="715" height="350" />
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>&copy; Derechos Reservados- "Clinica Buena Vida"</p>
</main>