@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <img src="~/image/PARAVIDA_Logo.png" width="715" height="350" />
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Clinica "Paravida"<br />
        San  Salvador, El Salvador<br />
        <abbr title="Phone">Telefono:</abbr>
        7474-9696
    </address>


</main>