@{
    ViewBag.Title = "Pagina Principal ";
}
<img src="~/image/PARAVIDA_Logo.png" width="715" height="350" />
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Gestion de Citas </h1>
        <p class="lead">Este sistema Para la Gestion de Citas de la Clinica Paravida.</p>

    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Bienvenido al Sistema de Gestion de Clinica</h2>
            <p>
                Clínica Paravida se complace en ofrecerle un sistema de gestión de citas en línea, diseñado para brindarle una experiencia cómoda y eficiente al programar sus citas médicas.

                Nuestro sistema le permite:

                Agendar citas con nuestros médicos de manera fácil y rápida, desde la comodidad de su hogar o desde cualquier lugar con acceso a internet.
                Visualizar su historial de citas para que pueda recordar fácilmente las fechas y horas de sus citas anteriores.
                Cancelar o reprogramar citas en caso de que no pueda asistir a su cita original.
                Recibir recordatorios de sus citas por correo electrónico o SMS para que no olvide su próxima visita.
                Gestionar sus datos personales para mantener su información actualizada.

            </p>

        </section>
        <!--
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>-->
    </div>
</main>